{% extends "header.html" %} {% block content %}
<div class="main-container">
  <div class="decoration-main-container"><div class="decoration-main"></div></div>
  <h2 class="main-title"> Trivia test. Number Correct: {{ num_correct }} </h2>
  <h2 class="font-bold">Current mode: {{ mode }}</h2>
  <div class="main-content">
    <h2 class="font-bold">{{ question }}</h2>
    <h2 class="font-bold">{{ answer }}</h2>

    <form class="searchbar" action="/" method="POST">
        {{ form.csrf_token }}
        {{ form.guess(class="form-control", placeholder="type here") }}

        {% if form.guess.errors %}
          <div class="error" role="alert">
            {% for error in form.guess.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
        
        {{ form.submit(class="form-button") }}
      </form>
      <button id="toggleButton" onclick="toggleVariable()">Toggle Mode</button>
  </div>
  <script>
    // Function to toggle the variable value
    function toggleVariable() {
      if (mode === "api") {
        mode = "mongo";
      } else {
        mode = "api";
      }
    }
</script>
</div>
{% endblock %}
