{% extends "header.html" %} {% block content %}
<div class="main-container">
  <div class="decoration-main-container"><div class="decoration-main"></div></div>
  <h2 class="main-title"> Trivia Test. Number Correct: {{ num_correct }} </h2>
  <h2 class="font-bold">Current mode: {{ mode }}</h2>
  <div class="main-content">
    <h2 class="font-bold">{{ question }}</h2>
    <h2 class="font-bold">{{ answer }}</h2>

    <form class="searchbar" action="/" method="POST">
        {{ form.csrf_token }}
        {{ form.guess(class="form-control", placeholder="type here") }}

        {% if form.guess.errors %}
          <div class="error" role="alert">
            {% for error in form.guess.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
        
        {{ form.submit(class="form-button") }}
      </form>
  </div>
  <form action="/" method="POST">
    <input type="hidden" name="toggle_mode" value="true">
    <button type="submit" class="mode-toggle-button">Toggle Mode</button>
  </form>
</div>
{% endblock %}