{% extends "header.html" %} {% block content %}
{% if error %}
    <b class="text-red-400" role="alert">
        {{ error }}
    </b>
{% endif %}
<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    {# User's Profile Picture #}
    {% if image %}
        <img class="rounded-2xl" src="data:image/png;base64,{{ image }}" alt="image">
    {% endif %}
    {# Indicate which user's questions we're looking at #}
    <h2 class="text-4xl font-bold opacity-50 my-4">{{ user.username }}'s Statistics</h2>
</div>
<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    {% if user %}
        <h4 class="text-2xl text-neutral-500">{{user.username}}'s High Score: <b class="text-white">{{user.high_score}}</b></h4>
        <h4 class="text-2xl text-neutral-500">{{user.username}}'s Total Questions Correct: <b class="text-white">{{user.questions_correct}}</b></h4>
        <h4 class="text-2xl text-neutral-500">{{user.username}}'s Total Questions Answered: <b class="text-white">{{user.questions_seen}}</b></h4>
        <h4 class="text-2xl text-neutral-500">{{user.username}}'s All-Time Accuracy: <b class="text-white">{{ 0 if user.questions_seen == 0 else ((user.questions_correct*100)/user.questions_seen) | round(3)}}%</b></h4>
        <br>
        <h4 class="text-2xl text-neutral-500">Number of Questions Created: <b class="text-white">{{ questions|length }}</b></h4>
        <h4 class="text-2xl text-neutral-500">Created Questions List: <b class="text-white"></b></h4>
        <br>
        <table>
            <tr>
                <th style="border: 1px solid #fff4">Question</th>
                <th style="border: 1px solid #fff4">Answer</th>
                <th style="border: 1px solid #fff4">Category</th>
            </tr>
            {% for q in questions %}
                <tr>
                    <td style="border: 1px solid #fff4">{{ q.question }}</td>
                    <td style="border: 1px solid #fff4">{{ q.answer }}</td>
                    <td style="border: 1px solid #fff4">{{q.category }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}